@use "base/variables" as v;
@use "base/mixins" as m;

.nuestro-menu {
    background-image: url(../img/menu_arriba.svg), url(../img/menu_abajo.svg),
        linear-gradient(to top, v.$primario, v.$primario);
    background-repeat: no-repeat;
    background-position: center 3rem, center 96%, 100%;

    @include m.tablet {
        background-position: center 5rem, center 92%, 100%;
    }
    
      
    background-size: 180%;  
    padding: 15rem 5rem 20rem 5rem;
    @include m.tablet {
        padding: 15rem 0 20rem 0;
    background-size: 100%;  
    }
    @include m.desktop {
        background-size: 50%,50%,100%;
    }
}

.grid-menu {
    @include m.tablet {
        @include m.grid(2, 2rem);
    }
}

.menu {
    h3{
        color: v.$blanco;
    }
    li{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            color: v.$blanco;
            font-size: 1.8rem;
            line-height: 1.5;
            margin: 0 0 2rem 0;
            span{
                display: block;
                color: v.$cafeClaro;
            }
        }
        .precio {
            font-size: 4rem;
            font-weight: 700;
        }

        &:last-of-type {
            padding-bottom: 1rem;
        }
        @include m.tablet {
            &:last-of-type {
                padding-bottom: 3rem;
            }
        }
        @include m.desktop {
            &:last-of-type {
                padding-bottom: 0;
            }
        }
    }
}
